@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
* {margin: 0; padding: 0;}
a {text-decoration: none; color: #333;}
body {line-height:1; font-family: 'Noto Sans KR', sans-serif; color: #333;}
ul, ol {list-style: none;}
img {max-width: 100%;}


.gnb {
    width: 1070px;
    height: 30px;
    padding: 10px 0 0 0;
    margin: 0 auto;
}
.gnb ul {float: right;}
.gnb li {
    float: left;
    padding: 4px 20px 4px 0px;
    position: relative;
}
.gnb li:last-child::after {
    content: "0";
    display: block;
    width: 14px;
    height: 14px;
    background: #3f8aaa;
    position: absolute;
    top: 30%;
    right: 0;
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 14px;
}

.gnb li a {
    font-size: 13px;
    font-weight: 400;
    color: #999;
    letter-spacing: -0.025em;
}

.header_middle {
    width: 1070px;
    height: 60px;
    margin: 0 auto 25px auto;
}

.header_middle .anim_header {
    width: 200px;
    margin: 0 100px 0 0;
    height: 60px;
    float: left;
    position: relative;
    overflow: hidden;
}

h1.logo {
    width: 470px;
    height: 60px;
    float: left
}
h1.logo img {
    display: block;
    margin: 0 auto;
}

@keyframes anim_header {
    100% {left: 210px;}
}

@keyframes anim_header_p {
    2% {opacity: 1;}
    3% {opacity: 0;}
    70% {opacity: 0;}
    71% {opacity: 1;}
}

.header_middle .anim_header img {
    position: absolute;
    top: 0; left: 0;
    animation: anim_header 3s infinite;
}

.header_middle .anim_header p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 15px;
    letter-spacing: -0.04em;
    animation: anim_header_p 3s infinite;
}
.header_middle .anim_header strong {
    color: rgb(79, 206, 29);
}

.header_middle .search_form {
    width: 300px;
    float: left;
}

.header_middle .search_form input {
    width: 200px;
    height: 20px;
    float: right;
    margin: 20px 0;
    font-size: 11px;
}

.lnb_wrap {
    height: 30px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.lnb {
    width: 1070px;
    height: 30px;
    margin: 0 auto;
}

.lnb>ul {
    float: left;
}
.lnb .hamberg::after, .lnb .hamberg::before {
    position: absolute;
    top: 5px; left: 0;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #3f8aaa;
}
.lnb .hamberg::before {top: -5px}
.lnb .hamberg {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 12px;
    height: 2px;
    background: #4d71d3;
}
#hamBtn:checked~.fullmenu .hamberg {background: #fff;}
#hamBtn:checked~.fullmenu .hamberg::after {top:0; width: 16px; transform: rotate(-45deg);}
#hamBtn:checked~.fullmenu .hamberg::before {top:0; width: 16px; transform: rotate(-135deg);}

.lnb .map .fullmenu {
    position: relative;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    width: 90px;
    height: 30px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: #3f8aaa;
    padding: 0 10px 0 30px;
    cursor: pointer;
}
#hamBtn {display: none;}
#hamBtn~ul {display: none;}
#hamBtn:checked~ul {display: block;}

.lnb .map>li {position: relative;}
.lnb .map>li>ul {
    position: absolute;
    top: 30px; left: 0;
    display: none;
    width: 1070px;
    height: 500px;
    background: #e4e4e4;
    z-index: 999;
    padding: 30px;
}

.lnb .map>li>ul>li {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.025em;
    line-height: 50px;
}

.lnb .map>li>ul>li>a {display: block;}

.lnb .lnb_main {
    float: left;
    margin: 0 80px;
}

.lnb .lnb_main li {
    float: left;
    line-height: 30px;
}

.lnb .lnb_main li a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin: 0 25px;
    letter-spacing: -0.025em;
    color: #333;
}

.lnb .lnb_sub {
    float: right;
}

.lnb .lnb_sub li {
    float: left;
    line-height: 30px;
    padding: 0 0 0 17px;
    position: relative;
}

.lnb .lnb_sub li~li::before {
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #999;
    position: absolute;
    top: 10px;
    left: 9px;
}

.lnb .lnb_sub li a {
    display: block;
    font-size: 12px;
    letter-spacing: -0.025em;
    color: #666;
}

/* ----------------------------------------header------------------------------------ */

.content_nav {
    width: 1070px;
    margin: 0 auto;
}

.content_nav .sub_nav {
    padding: 30px 0;
}

.content_nav .sub_nav a {
    color: #999;
    font-size: 15px;
    position: relative;
    margin: 0 30px 0 0;
}

.content_nav .sub_nav a span {
    margin: 0 20px 0 0;
    position: relative;
}

.content_nav .sub_nav a span::before {
    display: block;
    content: "";
    width: 0; height: 0;
    border-top: 6px solid #999;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    top: 9px; right: 3px;
}
.content_nav .sub_nav a span::after {
    display: inline-block;
    content: "";
    width: 10px; height: 10px;
    border: 1px solid #999;
}


.content_nav .sub_nav a~a::before, .content_nav .sub_nav a~a::after {
    display: block;
    content: "";
    width: 10px; height: 2px;
    background: #999;
    position: absolute;
    top: 13px; left: -21px;
    transform: rotate(-45deg);
}

.content_nav .sub_nav a~a::after {
    transform: rotate(45deg);
    top: 7px;
}

/* -------------------------------------- content_nav------------------------------------------------- */

.detail_wrap {
    width: 1070px;
    margin: 0 auto;
}

.detail_wrap .weekly p {
    font-size: 13px;
    text-align: center;
    padding: 20px 0;
    line-height: 13px;
} 
.detail_wrap .weekly p span {
    display: inline-block;
    width: 13px; height: 13px;
    border: 1px solid #999;
    border-radius: 50%;
    margin: 0 5px 0 0;
    text-align: center;
    color: #3f8aaa;
    font-size: 17px;
    font-weight: 900;
}

.detail_wrap .weekly .del_main {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    border-radius: 50px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail_wrap .weekly .del_main .del {display: flex; gap: 5px;}

.detail_wrap .weekly .del_main .del li {
    width: 80px; height: 80px;
    border: 1px solid #1b7418; box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    background: #f1f1f1;
}

.detail_wrap .weekly .del_main .del li span {
    display: block;
    margin: 23px 0;
}

.detail_wrap .weekly .del_main .arrow {
    width: 25px; height: 25px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 50%;
    margin: 0 7px;
    position: relative;
}

.detail_wrap .arrow::before, .detail_wrap .arrow::after {
    display: block;
    content: "";
    width: 12px;
    height: 1px;
    background: #999;
    position: absolute;
    top: 8px; left: 5px;
    transform: rotate(-45deg);
}

.detail_wrap .arrow::after {
    transform: rotate(-135deg);
    top: 17px;
}

.detail_wrap .arrow_02::before {transform: rotate(45deg);left: 7px;}
.detail_wrap .arrow_02::after {transform: rotate(135deg);left: 7px;}

.detail {overflow: hidden;}

.detail img {display: block; width: 100%;}

.detail .con01 {
    width: 400px;
    margin: 0 70px 0 0;
    overflow: hidden;
}

.detail .con01 .img_thum {height: 80px;}

.detail .con01 .img_thum_01 {
    float: left;
    width: 60px; height: 60px;
    border: 1px solid #999; box-sizing: border-box;
}

.detail .con01 .img_thum img:last-child {float: right;}

.detail .con01 .sns {
    width: 100%;
    height: 30px;
    background: #eee;
    padding: 15px;
    line-height: 30px;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.detail .con01 .sns i {
    font-size: 22px;
    padding: 4px;
    color: #fff;
    background: #133ba8;
}

.detail .con01 .sns .xi-twitter {
    background: #3f8aaa;
}

.detail .con01 .sns span {
    padding: 0 4px;
    background: #4d71d3;
}

.detail .con01 .sns >* {float: left; margin: 0 0 0 5px;}
.detail .con01 .sns strong {
    float: right;
    color: #ccc;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 0 4px;
    margin: 0 50px 0 0;
}

.select {
    background: #eee;
    padding: 20px;
}

.select p {
    font-size: 15px;
    margin: 0 0 10px 0;
}

.select select {
    width: 100%;
}

.detail>div {width: 600px; float: left;}

.detail .con02 {
    border-top: 1px solid #333;
    margin: 0 0 60px 0;
}

.detail .con02>span, .detail .con02>strong {
    display: block;
    font-size: 15px;
    line-height: 45px;
}

.detail .con02 .title {
    font-size: 26px;
    font-weight: 600;
}

.detail .con02 .txt {margin: 40px 0;}

.detail .con02 .txt span {
    font-size: 15px;
    color: #c2c2c2;
    position: relative;
}
.detail .con02 .txt span::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #c2c2c2;
    position: absolute;
    top: 11px; left: 0;
}

.detail .con02 .txt p {font-size: 26px; font-weight: 700;}

.detail .con02 .txt p strong {font-size: 15px;}
.detail .con02 .txt p strong::after {
    display: inline-block;
    content: "회원가";
    width: 45px; height: 20px;
    line-height: 20px;
    text-align: center;
    color: #3f8aaa;
    border: 1px solid #3f8aaa;
    margin: 0 0 0 5px;
}

.detail .con02 .login {
    border: 1px solid #c2c2c2; box-sizing: border-box;
    padding: 20px;
    margin: 0 0 10px 0;
}

.detail .con02 .login strong {
    display: inline-block;
    margin: 0 2px 10px 0;
    padding: 2px 5px;
    border: 1px solid #999;
    color: #999;
    font-size: 11px;
    font-weight: 300;
    border-radius: 4px;
}

.detail .con02 .login p {
    font-size: 15px;
    color: #3f8aaa;
}

.detail .con02 .login p span {
    font-size: 15px;
    line-height: 25px;
    padding: 0 11px;
    background: #4d71d3;
    color: #fff;
    float: right;
}

.detail .con02 .order {
    border: 4px solid #ccc; box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
}

.detail .con02 .order strong {
    float: left;
    color: #3f8aaa;
    font-size: 15px;
}

.detail .con02 .order>p {margin: 0 0 40px 0;}

.detail .con02 .order>p::before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.detail .con02 .order .sel::before {
    content: "-";
    display: block;
    width: 30px; height: 30px;
    line-height: 30px;
    border: 1px solid #f2f2f2; box-sizing: border-box;
    background: #f2f2f2;
    position: absolute;
    top: 0; left: -30px;
}
.detail .con02 .order .sel {
    position: relative;
    float: right;
    width: 30px; height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #f2f2f2; box-sizing: border-box;
    margin: 0 30px 0 0;
}

.detail .con02 .order .sel::after {
    content: "+";
    display: block;
    width: 30px; height: 30px;
    line-height: 30px;
    border: 1px solid #f2f2f2; box-sizing: border-box;
    background: #f2f2f2;
    position: absolute;
    top: 0; right: -30px;
}

.detail .con02 .money {
    line-height:  60px;
    text-align: right;
    font-size: 17px;
    font-weight: 500;
}

.detail .con02 .money span::before {
    display: inline-block;
    content: "?";
    width: 14px; height: 14px;
    line-height: 14px;
    font-size: 11px;
    text-align: center;
    background: #e9e9e9;
    border: 1px solid #4a4e15;
    color: #4a4e15;
    position: absolute;
    top: 14px; left: -37px;
}

.detail .con02 .money span {
    margin: 0 0 0 40px;
    font-size: 25px;
    font-weight: 700;
    color: #3f8aaa;
    position: relative;
}

.detail .con02 .money strong {color: #3f8aaa;}

.detail .con02 .button {overflow: hidden;}
.detail .con02 .button a {
    display: block;
    float: left;
    width: 290px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #c0c0c0; box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    color: #666;
}

.detail .con02 .button a~a {
    margin: 0 0 0 10px;
    background: #3f8aaa;
    color: #fff;
    border: none;
}

/* -----------------------------------------detali------------------------------ */

section.together {
    width: 100%;
    height: 300px;
    background: #f2f2f2;
    margin: 0 0 30px 0;
}

section.together .container {
    width: 1070px;
    margin: 0 auto;
    padding: 30px 0;
}

section.content_main {
    width: 1070px;
    margin: 0 auto;
}

section.content_main>input {display: none;}

section.content_main .label {overflow: hidden; position: relative;}

section.content_main .label label {
    float: left;
    width: 200px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    background: #f2f2f2;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 3px solid #999; box-sizing: border-box;
}

section.content_main .label .sub_tab01 {border-left: 1px solid #c4c4c4;}

section.content_main .label::after {
    display: block;
    content: "";
    width: 270px; height: 3px;
    background: #999;
    position: absolute;
    bottom: 0; right: 0;
}

#sub_tab01:checked~.label .sub_tab01 {
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    border-left: 3px solid #999;
    border-bottom: none;
    background: #fff;
}
#sub_tab02:checked~.label .sub_tab02 {
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    border-left: 3px solid #999;
    border-bottom: none;
    background: #fff;
}
#sub_tab03:checked~.label .sub_tab03 {
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    border-left: 3px solid #999;
    border-bottom: none;
    background: #fff;
}
#sub_tab04:checked~.label .sub_tab04 {
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    border-left: 3px solid #999;
    border-bottom: none;
    background: #fff;
}




























.footer {
    background: #474747;
}

.footer_nav {
    background: #333;
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    height: 50px;
}

.footer_nav_wrap {
    width: 1070px;
    margin: 0 auto;
}

.footer_nav_wrap ul {
    float: left;
}

.footer_nav_wrap ul>li {
    float: left;
}

.footer_nav_wrap>ul>li~li {margin: 0 0 0 20px;}

.footer_nav_wrap ul>li>a {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.025em;
}

.footer_nav_wrap>ul>li:nth-child(4)>a {color: #3f8aaa;}

.footer_nav_wrap ol {
    width: 300px;
    height: 50px;
    float: right;
}

.footer_nav_wrap>ol>li {
    width: 50%;
    height: 100%;
    line-height: 50px;
    border-left: 1px solid #5c5c5c;
    border-right: 1px solid #5c5c5c; box-sizing: border-box;
    float: left;
    position: relative;

    display: block;
    font-size: 13px;
    color: #999;
    text-align: center;
}

.footer_nav_wrap ol>li~li {border-left: none;}

#family {display: none;}
#family:checked~.link {top: -204px; z-index: 1;}
.footer_nav_wrap ol>li .family {
    display: block;
    font-size: 13px;
    color: #999;
    text-align: center;
    line-height: 50px;
}

.footer_nav_wrap ol>li::after {
    display: block;
    content: "";
    width: 8px;
    height: 2px;
    background: #999;
    position: absolute;
    top: 24px; right: 19px;
    transform: rotate(45deg);
}
.footer_nav_wrap ol>li::before {
    display: block;
    content: "";
    width: 8px;
    height: 2px;
    background: #999;
    position: absolute;
    top: 24px; right: 24px;
    transform: rotate(-45deg);
}

.footer_nav_wrap ol>li .link {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #5c5c5c;
    transition: top 0.2s, z-index 0.1s 0.1s;
    z-index: -1;
}

.footer_nav_wrap ol>li .link li {
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #fff;box-sizing: border-box;
    text-align: center;
}

.footer_nav_wrap ol>li .link li:hover a {background: #fff; color: #333;}

.footer_nav_wrap ol>li .link li a {color: #f2f2f2;}


.footer_main_wrap {
    width: 1070px;
    margin: 0 auto;
}

.footer_main_wrap .footer_logo {
    color: #999;
    margin: 20px 0;
}

.footer_main_wrap .footer_address {
    overflow: hidden;
}

.footer_address {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #5c5c5c;
}

.footer_address>div {float: left;}

.footer_address .con01 {
    width: 300px;
    overflow: hidden;
}

.footer_address .con01>ul {float: left;}

.footer_address .con01 .first_address {
    width: 30%;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #c4c4c4;
    letter-spacing: -0.04em;
}

.footer_address .con01 .last_address {
    width: 70%;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    letter-spacing: -0.04em;
}

.footer_address .con02 {width: 450px;}
.footer_address .con02>ul {float: left;}

.footer_address .con02 .first_address {
    width: 30%;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #c4c4c4;
    letter-spacing: -0.04em;
}

.footer_address .con02 .first_address li:last-child {width: 145%;}
.footer_address .con02 .last_address li:last-child {margin: 0 0 0 80px;}

.footer_address .con02 .last_address {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    letter-spacing: -0.04em;
}

.footer_address .con02 a {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #999;
    letter-spacing: -0.04em;
    padding: 0 16px 0 4px;
    margin-left: 20px;
    border: 1px solid #999; box-sizing: border-box;
    position: relative;
}

.footer_address .con02 a::after {
    display: block;
    content: "";
    width: 0; height: 0;
    border-left: 8px solid #999;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    top: 5px;
    right: 4px;
}

.footer_address .con03 {width: 320px;}

.footer_address .con03 span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #c4c4c4;
    letter-spacing: -0.04em;
}

.footer_address .con03 img {height: 16px;}

.footer_address .con03 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    letter-spacing: -0.04em;
    margin: 10px 0;
}

.footer_address .con03 a {
    font-size: 12px;
    padding: 0 16px 0 4px;
    border: 1px solid #999; box-sizing: border-box;
    position: relative;
    color: #999;
    margin-top: 10px;
}


.footer_address .con03 a::after {
    display: block;
    content: "";
    width: 0; height: 0;
    border-left: 8px solid #999;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    top: 5px;
    right: 4px;
}

.copyright {
    padding: 30px 0;
    overflow: hidden;
}

.copyright>div {float: left; padding: 0 30px 0 0;}

.copyright p {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #999;
    letter-spacing: -0.04em;
}

.copyright img {height: 30px; margin: 0 10px 0 0;}

.copyright .con04 {
    float: right;
    font-size: 23px;
    padding: 0;
}

.copyright .con04 a i {
    color: #999;
    margin: 0 0 0 10px;
}

/* -----------------------------------------------------footer----------------------------------------- */

#wing_banner {display: none;}
#wing_banner:checked~.wing_banner {right: 0;}

.wing_banner {
    position: fixed;
    width: 259px;
    height: 100%;
    top: 0;
    right: -200px;
    transition: right 0.2s;
}

.wing_banner label {
    position: absolute;
    top: 30%;
    left: 0;
    cursor: pointer;
}

.wing_banner .wing_main {
    position: absolute;
    top: 0; left: 59px;
    width: 200px;
    height: 100%;
    background: #333;
}

/* -------------------------------------------------wing_banner--------------------------------------- */
